*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
  color: #ca9797;
  background-color: #fff0f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding: 1rem 1rem 1.5rem;
  font-size: .5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ca9797;
  color: #fffffe;
}

h2 {
  font-size: 1rem;
  padding-bottom: .8em;
  font-weight: 700;
}

p {
  font-size: .6rem;
  padding-bottom: .5em;
  font-weight: 200px;
}

a {
  font-size: .4rem;
  font-weight: 600;
  color: #ca9797;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  text-decoration: underline;
}

.section-content{
    display: grid;
    grid-template: repeat(3, 240px) / repeat(2, 240px);
    margin-bottom: 150px;
}

.text1, .text3 {
  padding: 1.5rem 1.5rem 0 1rem;
}

.text2 {
  padding: 1.5rem 1rem 0 1.5rem;
}

.img1 {
  background-color: #ca9797;
  background-image: url("https://hips.hearstapps.com/hmg-prod/images/clx030122wellgroggyanchor-001-662a63b89c240.jpg?crop=0.668xw:1.00xh;0.104xw,0&resize=1120:*");
  background-size: cover;
  background-position: center;
}

.img2 {
  background-color: #ca9797;
  background-image: url("https://i.pinimg.com/736x/da/e7/89/dae789ddee174e6a82280702f762e8c4.jpg");
  background-size: cover;
  background-position: center;
}


.img3 {
  background-color: #ca9797;
  background-image: url("https://www.homestoriesatoz.com/wp-content/uploads/2021/04/spring-cottage-living-room-decor-1-3.jpg");
  background-size: cover;
  background-position: center;
}